.lec-empty {
  .ant-empty-image {
    margin: 0 auto 24px;
  }
  .ant-empty-description {
    margin-bottom: 24px;
  }
  .ant-empty-footer {
    margin-top: 0;
  }

  &-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: $grey;
  }

  &-subtitle {
    max-width: 384px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    color: $grey-80;
    font-size: 15px;
  }

  &-button {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
  }
}
