.lec-underscored-title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $grey;
  margin-bottom: 24.5px;
  position: relative;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 32px;
    height: 2px;
    background-color: $primary;
    border-radius: 2px;
  }

  &--big {
    font-size: 20px;
    color: $dark;
  }

  &--alert {
    &:after {
      background-color: $red;
    }
  }
}
