:root {
  --primary: #ff8a00;
  --primary-80: #ffa133;
  --primary-60: #ffb966;
  --primary-40: #ffd099;
  --primary-20: #ffe8cc;
  --red: #ff5f3d;
  --red-80: #ff7f64;
  --red-60: #ff9f8b;
  --red-40: #ffbfb1;
  --red-20: #ffdfd8;
  --blue: #309dd1;
  --blue-80: #59b1da;
  --blue-60: #83c4e3;
  --blue-40: #acd8ed;
  --blue-20: #d6ebf6;
  --green: #27c686;
  --green-80: #52d19e;
  --green-60: #7dddb6;
  --green-40: #a9e8cf;
  --green-20: #d4f4e7;
  --grey: #393e46;
  --grey-80: #61656b;
  --grey-60: #888b90;
  --grey-40: #b0b2b5;
  --grey-20: #d7d8da;
  --light-grey: #e4e4e4;
  --light-grey-80: #e9e9e9;
  --light-grey-60: #efefef;
  --lighter-grey: #f2f2f2;
  --lighter-grey-60: #f7f7f7;
  --lighter-grey-40: #fafafa;
  --white: #ffffff;
  --white-60: rgba(255, 255, 255, 0.6);
  --dark: #222831;
  --dark-80: rgba(76, 89, 109, 0.8);
  --overlay-black-80: rgba(0, 0, 0, 0.8);
  --overlay-black-60: rgba(0, 0, 0, 0.6);
  --overlay-black-40: rgba(0, 0, 0, 0.4);
  --overlay-black-20: rgba(0, 0, 0, 0.2);
  --overlay-white-80: rgba(255, 255, 255, 0.8);
  --overlay-white-60: rgba(255, 255, 255, 0.6);
  --overlay-white-40: rgba(255, 255, 255, 0.4);
  --overlay-white-20: rgba(255, 255, 255, 0.2);
  --chart-red: #e07152;
  --chart-blue: #4a92b5;
  --chart-orange: #eba047;
  --chart-green: #49ab84;
  --chart-purple: #b479ae;
  --chart-grey: #7b7e84;
  --magenta: #d739aa;
  --magenta-80: rgba(215, 57, 170, 0.8);
  --yellow: #ffcd22;
  --yellow-80: rgba(255, 205, 34, 0.8);
  --dark-blue: #1428a0;
  --dark-blue-80: #4252b3;
}
