// application specific settings here

// Core
$scroll-height: 12px;
$scroll-width: 12px;

// Background
$color-background: $lightgrey-opaque;

// Navigation Menu
$global-nav-width: 64px;

// Application colors
$primary: $orange;
$disabled: $grey-opaque;
$error: $light-red;

// Application fonts
$font-primary: $font-quicksand;
